@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&display=swap');
:root{
    --bg_purple:rgb(51, 0, 51);
    --bg_blue:rgb(9, 0, 73);
    --bg_red:rgb(107, 7, 7);
    --bg_grey:rgba(32,32,46, 1);
    --main_color:rgb(123, 58, 190);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    width:100vw;
    height: 100vh;
    background: 
    linear-gradient(215deg, var(--bg_purple), rgba(0, 0, 0, 0.4) 75%),
    linear-gradient(135deg, var(--bg_blue), rgba(0, 0, 0, 0.4) 75%),
    linear-gradient(360deg, var(--bg_red), rgba(0, 0, 0, 0.4) 75%);
    display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    color: white;
    text-align: center;
}
.main-content{
    display: grid;
    grid-template-rows: [panel] 15% [content] auto;
    width:70%;
    height: 80%;
    background: var(--bg_grey);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4rem 1px;
    border-radius:2rem;
    padding: 0rem 2rem 1rem 2rem;
    backdrop-filter: blur(5px);
}
.panel{
    display: grid;
    grid-template-columns: [header] 25% [site_nav]auto [toggle]10%;
    padding: 0.5rem 0;
}
.header{
    border-right: 1px solid rgb(46, 46, 46);
}
.dwa{
    margin-top: -1rem;
    margin-left:-2rem;
    font-family: 'Cairo Play', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 5px 5px 5px var(--main_color);
}
.logo-subtext{
    font-size: 1.5rem;
    color: var(--main_color);
    font-family: 'Courier New';
    font-weight: bold;
    padding-left:60px;
    margin-top:-25px;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    gap:5px;
}
.a_item{
    display: block;
    margin-top:-0.5rem;
    font-size:1.5rem;
    text-decoration: none;
    color: white;
    padding:30px 40px;
    transition: 300ms;
    border-top: 5px solid transparent;
    font-weight: 600;
}
.a_item:hover{
    border-top: 5px solid var(--main_color);
    color: var(--main_color);
    background-color: rgb(38,38,50);
    border-radius: 0 0 10% 10%;
}
.LogOut{
    text-decoration: none;
}
.toggle{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration:none;
    color:whitesmoke;
}
.toggle:hover{
    cursor: pointer;
    color:var(--main_color);
}
.content{
    display: grid;
    grid-template-columns: [ext_nav] 25% [main_content]auto ;
    border-top: 2px solid rgb(46, 46, 46) ;
    padding: 0.5rem 0;
}
.ext_nav{
    border-right: 1px solid rgb(46, 46, 46) ;
}

h2{
    margin: 1rem 0rem;
}





.note-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.note-title{
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(0,0,0,0.2);
    border-radius: 15px;
    padding:15px;
    width: 50%;
    margin: 2rem;
    color:white;
}
.note-body{
    padding:20px;
    width: 95%;
    height:100%;
    background: rgba(0,0,0,0.2);
    border-radius: 25px;
    margin: 0rem 2rem;
    border: none;
    outline: none;
    color:white;
    resize: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 1rem;
}
.note-btn{
    background: var(--main_color);
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    padding:15px;
    width: 200px;
    margin-bottom: 15px;
    border:none;
    transition:0.2s;
    margin: 20px auto;
}
.note-btn:hover{
    filter: brightness(1.5);
}
.note-list-item{
    cursor: pointer;
    height: 120px;
    margin:5px 0;
    margin-right: 2rem;
}
.selected-note{
    background: rgba(0,0,0,0.3);
    border-radius: 15px;
    font-weight: bold;
}
.note-titles{
    padding:5px;
    height:40px;
    font-size: 26px;
    overflow: hidden;
    text-align: center;
}
.note-bodys{
    padding:5px 10px;
    font-size: 18px;
    height:50px;
    overflow: hidden;
    text-align: left;
}
.note-dates{
    padding:5px 10px;
    height:30px;
    overflow: hidden;
    color: rgb(175, 169, 169);
    font-style: italic;
    text-align: right;
    font-size: 13px;
}