@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&display=swap');
:root{
    --bg_purple:rgb(51, 0, 51);
    --bg_blue:rgb(9, 0, 73);
    --bg_red:rgb(107, 7, 7);
    --bg_grey:rgba(32,32,46, 1);
    --main_color:rgb(111, 27, 194);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    width:100vw;
    height: 100vh;
    background: 
    linear-gradient(215deg, var(--bg_purple), rgba(0, 0, 0, 0.4) 75%),
    linear-gradient(135deg, var(--bg_blue), rgba(0, 0, 0, 0.4) 75%),
    linear-gradient(360deg, var(--bg_red), rgba(0, 0, 0, 0.4) 75%);
    display: flex;
	justify-content: center;
	align-items: center;
    overflow: hidden;
    color: white;
    text-align: center;
}
.main-content{
    display: grid;
    grid-template-rows: [panel] 15% [content] auto;
    width:70%;
    height: 80%;
    background: var(--bg_grey);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4rem 1px;
    border-radius:2rem;
    padding: 0rem 1rem 1rem 1rem;
    backdrop-filter: blur(5px);
    overflow:hidden;
}
.panel{
    display: grid;
    grid-template-columns: [header] 25% [site_nav]auto [toggle]10%;
    padding: 0.5rem 0;
}
.header{
    border-right: 1px solid rgb(46, 46, 46);
}
.dwa{
    margin-top: -1rem;
    font-family: 'Cairo Play', cursive;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px var(--main_color);
}
.logo-subtext{
    font-size: 1.5rem;
    color: var(--main_color);
    font-family: 'Courier New';
    font-weight: bold;
    margin: -25px 0px 0px 80px;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    gap:5px;
}
.a_item{
    display: block;
    margin-top:-0.5rem;
    font-size:1.6rem;
    text-decoration: none;
    color: white;
    padding:30px 40px;
    transition:0.2s;
    border-top: 5px solid transparent;
    font-weight: 600;
}
.a_item:hover{
    border-top: 5px solid var(--main_color);
    color: var(--main_color);
    background-color: rgb(38,38,50);
    border-radius: 0 0 10% 10%;
    
}
.material-symbols-outlined{
    color:white;
    padding:0px 5px;
}
.LogOut{
    text-decoration: none;
}
.toggle{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration:none;
    color:whitesmoke;
}
.toggle:hover{
    cursor: pointer;
    color:var(--main_color);
}
.content{
    display: grid;
    grid-template-columns: [ext_nav] 25% [main_content]auto ;
    border-top: 2px solid rgb(46, 46, 46) ;
    padding: 0.5rem 0;
}
.ext_nav{
    border-right: 1px solid rgb(46, 46, 46) ;
}
h2{
    padding-top: 2rem;
}
.weather{
    width:55%;
    height: 25%;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    background-color: #2E0F38;
    border-radius: 30px;
    margin: 2rem auto;
    text-align: center;
    overflow: hidden;
}
.weather-icon img{
    width: 100px;
    height: 100px;
}
.notification{
    display: none;
    background:none;
}
.notification p{
    color: white;
    font-size:1.3rem;
    text-align: center;
    font-weight: 600;
}

.temperature-value p{
    display: flex;
    justify-content: center;
    margin-top:-1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}
.location p{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.main_content {
    display: grid;
    grid-template-columns: 0 repeat(2, 2fr) 0 2fr;
    grid-template-rows: repeat(4, 1fr) 0;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    padding-top:2rem;
    }
    
    .div1 { 
        grid-area: 1 / 2 / 3 / 3; 
        background: rgba(0,0,0,0.4);
        padding:10px;
        border-radius:2rem;
        backdrop-filter: blur(5px);
        transition: 0.2s;
    }
    .div2 { 
        grid-area: 1 / 3 / 3 / 4; 
        background: rgba(0,0,0,0.4);
        padding:10px;
        border-radius:2rem;
        backdrop-filter: blur(5px);
        transition: 0.2s;
    }
    .div3 { 
        grid-area: 1 / 4 / 5 / 6;
        background: rgba(0,0,0,0.4);
        padding:10px;
        border-radius:2rem;
        backdrop-filter: blur(5px);
        transition: 0.2s;
    }
    .budget { 
        grid-area: 3 / 2 / 5 / 4; 
        background: rgba(0,0,0,0.4);
        padding:10px;
        border-radius:2rem;
        backdrop-filter: blur(5px);
        transition: 0.2s;
    }
    .div1:hover{
        background: rgba(0,0,0,0.7);
        cursor: pointer;
    }
    .div2:hover{
        background: rgba(0,0,0,0.7);
        cursor: pointer;
    }
    .div3:hover{
        background: rgba(0,0,0,0.7);
        cursor: pointer;
    }
    
    .budget:hover{
        background: rgba(0,0,0,0.7);
        cursor: pointer;
    }
    